
{{#loggedin}}
<div id="links">
    <img src="./images/logo.svg" alt="videogamestore logo">
    <a href="#" onclick="loadHome()">Home</a>
    <a href="#" onclick="editProfile()">Profile</a>
    <a href="#" onclick="showCart()">View Cart</a>
</div>

<div>
    Welcome&nbsp;<span style="font-weight: bold">{{username}}</span>&nbsp;|&nbsp;
    <a href="#" onclick="userService.logout();return false;">logout</a>&nbsp;|&nbsp;

    <div class="cart" onclick="showCart()">
        <i class="fa-solid fa-cart-shopping"></i>
        <div id="cart-items">0</div>
    </div>&nbsp;|&nbsp;

    <button id="darkModeToggle" class="btn btn-secondary btn-sm">
        🌙
    </button>
</div>
{{/loggedin}}
{{#loggedout}}
<div id="links">
    <img src="./images/logo.svg" alt="videogamestore logo">
    <a href="#" onclick="loadHome()">Home</a>
</div>

<div>
    <a href="#" onclick="showLoginForm();return false;">login</a>
    <button id="darkModeToggle" class="btn btn-secondary btn-sm">
        🌙
    </button>
</div>
{{/loggedout}}
